@font-face {
   font-family: MainFont;
   src: url(../../public//fonts//font.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
  font-family: MainFont;
}

body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: #191919;
}